@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Delius&family=Kaushan+Script&family=Sue+Ellen+Francisco&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mottona";
  src: url("/fonts/mottona.otf");
}

.fullscreenImage {
  @apply h-screen w-screen object-cover object-center will-change-transform;
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
